.maincon{
    position: absolute;

}
.onepin{
    position: relative;
    top: 85px;
    left: 185px;
    height: fit-content;
    width: fit-content;

}
.maincon .map{
    
    border-style: solid;
    border-width: 5px;
    border-color: rebeccapurple;
}
.comeonhover{
    visibility: hidden;
}
.onepin:hover .comeonhover{
    visibility: visible;
    color: blue;
    

}
.tooltip {
    position: relative;
    
  }
  
  .tooltip .tooltiptext {
    visibility: hidden;
    width: 200px;

    background-color: rgb(219, 3, 3);
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
  
    /* Position the tooltip */
    position: absolute;
    z-index: 1;
  }
  
  .tooltip:hover .tooltiptext {
    visibility: visible;
  }
.head{
    
    background-color: rgb(67, 206, 213);
    color: white;
    font-size: 4em;
    text-align: center;

    

}
.head p{
    margin: 0%;
    padding: 100px;
}

.infofloors{
    margin-right: auto;
    margin-left: auto;
    width: 500px;
    background-color: rgba(64, 165, 133, 0.163);
}
.infofloors{
    display: flex;
    padding-top: 15px;
    padding-bottom: 15px;
    justify-content: center;
    justify-content: space-between;
    font-weight: bolder;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    
}
.infofloors a{
    color: black;
}
.main{
    display: flex;
    /* justify-content: center; */
    width: 100%;
    margin: 30px;

    
}
nav{
    position: sticky;
    top: 0px;
    display: flex;
    justify-content: space-around;
    z-index: 11;
    background-color: aqua;
    
}
nav a{
    /* padding: 20px; */
    color:black;
    
    font-size: 20px;

}
.sidepanel{
    display: flex;
    flex-direction: column;
    line-height: 40px;
    font-size: 100%;
}
.sidepanel a{
    padding-left: 20px;
}
.twopin{
    position: relative;
    top: 210px;
    left: 50px;
}
.threepin{
    position: relative;
    top: 250px;

}
.mainconbg{
    display: flex;
    justify-self: end;
}